<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="dist/css/bootstrapv5/css/bootstrap.min.css">
</head>
<body>
<div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="..." id="qr-img-id">
                            <div class="card-body">
                                <h5 class="card-title">Código QR</h5>
                                <p class="card-text">Escanear código QR para acceder.</p>
                                <input type="hidden" id="id-qr">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <h5 class="card-title">Por favor inserte sus credenciales</h5>
                <p class="card-text">Las credenciales requieren un nombre de usuario y una contraseña.</p>

                <div class="container">
                    <form class="form-signin" method="post" action="/login">
                        <h2 class="form-signin-heading">Por favor, registrese</h2>
<!--                        <div class="alert alert-danger" role="alert">Bad credentials</div>        <p>-->
                        <label for="username" class="sr-only">Nombre de susuario</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="" autofocus="">
                    </p>
                        <p>
                            <label for="password" class="sr-only">Contraseña</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="">
                        </p>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                        <br>
                        <br>
                        <p class="mb-0 text-right">
                            <a href="register" class="text-center">Si aún no tienes una cuenta, te invitamos a registrarte
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="plugins/bootstrapv5/js/bootstrap.bundle.min.js"></script>

<!--TODO: NO LOGRO PODER UTILIZAR EL BUNDLE GENERADO POR WEBPACK-->
<!--<script src="plugins/qr-stomp-ws/dist/bundle.js"></script>-->

<script th:inline="javascript" type="module">
    // TODO: ESTO NO DEBERIA SER NECESARIO NI EL TYPE MODULE SI FUNCIONARA EL BUNDLE.JS
    import QRStompWS  from './plugins/qr-stomp-ws/src/QRStompWS.js';

    const QRSERVERHOST = /*[[${qr_server_host}]]*/ '';
    const MYTOKEN = /*[[${token}]]*/ '';
    const qrImg = document.getElementById("qr-img-id");
    const callback = function(message) {
        const csrf = document.querySelector('input[type="hidden"][name="_csrf"]').value;
        fetch(`/login_by_userId?username=${message.body}&_csrf=${csrf}`, {method: "POST"})
            .then(_ =>  window.location.href = '/')
            .catch(error => {
                console.error(error);
            });
    }

    const qRStompWS = new QRStompWS(QRSERVERHOST, MYTOKEN, qrImg, callback)
    document.addEventListener('DOMContentLoaded', function () {
        //Utilizar el metodo getQR para obtener el qr y quedar a la escucha de alguna lectura de qr
        qRStompWS.getQR()
    }, false);

</script>
</body>
</html>