<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="..." id="qr-img-id">
                            <div class="card-body">
                                <h5 class="card-title">Código QR</h5>
                                <p class="card-text">Escanear código QR para acceder.</p>
                                <input type="hidden" id="id-qr">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <h5 class="card-title">Please insert credentials</h5>
                <p class="card-text">Credentials require a username and password.</p>

                <div class="container">
                    <form class="form-signin" method="post" action="/login">
                        <h2 class="form-signin-heading">Please sign in</h2>
<!--                        <div class="alert alert-danger" role="alert">Bad credentials</div>        <p>-->
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
                    </p>
                        <p>
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                        </p>
                        <input name="_csrf" type="hidden" value="fd6972d7-4953-4eae-b5d5-1ccb78f895c9">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    let stompClient = null;
    const qrImg = document.getElementById("qr-img-id")

    // Ejemplo implementando el metodo POST:
    async function postData(url = '', data = {}) {
        // Opciones por defecto estan marcadas con un *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    async function getQR() {
        postData(
            'http://localhost:8080/jwt/user_tenant/authenticate',
            { username: "eliasf", password: "Admin123" }) //TODO, quitar esto que esta hardcodeado
            .then(async data => {
                localStorage.setItem('Tenant-Auth-Token', `Bearer ${data.token}`)
                let token = localStorage.getItem('Tenant-Auth-Token')
                const response = await fetch('http://localhost:8080/qr/genQR', {headers: {Authorization: token}})
                const blob = await response.blob()
                const url = URL.createObjectURL(blob/*.slice(0, 4000)*/)
                qrImg.src = url
                const idQR = await uploadQR(token, blob)
                connect_user(token, idQR)
            })
            .catch(e => {
                console.log("error en autenticacion del tenant")
                console.log(e)
            })
    }

    document.addEventListener('DOMContentLoaded', function () {
        getQR()
    }, false);


    async function uploadQR(token, globalBlob) {
        const file = new File([globalBlob], "qr.png", {type: globalBlob.type});
        const formData = new FormData()
        formData.append('qrCodeFile', file)
        const response = await fetch('http://localhost:8080/qr/scanQR',
            {
                method: "POST",
                headers: {
                    Authorization: token
                },
                body: formData
            }
        ).then((res) => {
            return res.text()
        }).catch(e => {
            console.log("error")
            console.log(e)
        })
        return response
    }

    function connect_user(token, qrId) {
        let socket = new SockJS('http://localhost:8080/wsc');
        stompClient = Stomp.over(socket)
        //En este caso el username es opcional ya que para conectar al ws server usa el token de autorizacion
        let data = {/*username: "username", */'X-Authorization': token, "qrId": qrId}
        stompClient.connect(data, (frame) => {
            console.log('Connected: ' + frame);
            stompClient.subscribe("/user/topic/messages", (message) => {
                console.log("llego un mensaje", message); //5
                //TODO: ver como hacer de forma segura esto
                // se puede utilizar un jwt firmado desde el server que solo se pueda leer en el server del tenant
                //

                console.log(message.body)

                fetch(`/login_by_userId?username=${message.body}`, {method: "POST"})
                    .then(_ =>  window.location.href = '/')
                    .catch(error => {
                        console.error(error);
                    });

            })
        }, function(error) {
            console.log(error);
        })

    }

</script>
</body>
</html>